<h1>プロフィール編集</h1>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :rank %>
    <%= f.select :rank, User.ranks.keys.map { |rank| [rank.humanize, rank] } %>
  </div>

  <div>
    <%= f.label :lane %>
    <%= f.select :lane, User.lanes.keys.map { |lane| [lane.humanize, lane] } %>
  </div>

  <div>
    <%= f.submit '更新' %>
  </div>
<% end %>